.divContatto {
	border: 1px solid #888888;
  	border-radius: 5px;
  	margin-top: 2%;
  	margin-bottom: 2%;
}

.divContatto .row div {
	padding: 10px;
}

.divContatto figure {
	display: initial;
}

#contatti a {
	text-decoration: none;
	color: gray;
}

#omino {
	position: sticky;
	top: 50px;
}

body {
	overflow-wrap: break-word;
}

#imageContatti {
	width: 35%;
}

@media screen and (max-width: 580px) {

	#container {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	#contatti {
		text-align: center;
	}
	
	#divContatti {
		margin-left: 0px;
		margin-right: 0px;
	}

}