.divContatto {
	border: 1px solid #888888;
  	border-radius: 5px;
  	margin-top: 2%;
  	margin-bottom: 2%;
}

.row div {
	padding: 10px;
}

#contatti a {
	text-decoration: none;
	color: gray;
}

#navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
	overflow-wrap: break-word;
}

.header-ctn>div {
  display: flex;
  margin-top:0% !important;
}

.header-ctn>div+div {
  margin-left: 2%;
  margin-top:0% !important;
}

.profilePic{
	margin-right: 7px;
}

.btnAdmin {
  width: 160px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #0b3de1;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 30px 30px 30px 30px;
}

.btnAdmin:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btnAdmin:hover svg {
  stroke-dashoffset: -480;
}

.btnAdmin span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}