body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

a {
    font-weight: 500;
}

/*----------------------------*\
	Inputs
\*----------------------------*/

/*-- Text input --*/

.input {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  width: 100%;
}

textarea.input {
  padding: 15px;
  min-height: 90px;
}

/*-- Select input --*/

.input-select {
  padding: 0px 15px;
  background: #FFF;
  border: 1px solid #E4E7ED;
  height: 40px;
}

/*=========================================================
	02 -> HEADER
===========================================================*/

/*----------------------------*\
	Top header
\*----------------------------*/

#top-header {
  background-color: #2c2d30;
  height: auto;
}

.header-links li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.header-links li a {
  color: #FFF;
}

.header-links li a:hover {
  color: #0b3de1;
}

.header-links li i {
  color: #0b3de1;
  margin-right: 5px;
}

/*----------------------------*\
	Logo
\*----------------------------*/
header{
  display: grid;
}
#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2c2d30;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
}

/*----------------------------*\
	Search
\*----------------------------*/

.header-search {
  padding: 15px 0px;
}

.header-search form {
  position: relative;
}

.header-search form .input-select {
  margin-right: -4px;
  border-radius: 40px 0px 0px 40px;
}

.header-search form .input {
  width: calc(100% - 240px);
  height: 40px;
  margin-right: -4px;
}

.header-search form .search-btn {
  position: absolute;
  height: 41px;
  width: 100px;
  background: #0b3de1;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
}

/*----------------------------*\
	Cart
\*----------------------------*/

#heart {
  color: white;
}

.header-ctn {
  display: flex;
  left: 90%;
  margin-left: 5%;
}

.header-ctn>div {
  display: flex;
  margin-top: 10%;
}

.header-ctn>div+div {
  margin-left: 2%;
  margin-top: 10%;
}

.header-ctn>div>a {
  display: flex;
  position: relative;
  text-align: center;
  color: #FFF;
}

.header-ctn>div>a>i {
  display: block;
  font-size: 25px;
}

.header-ctn>div>a>span {
  font-size: 12px;
}

.header-ctn>div>a>.qty {
  position: absolute;
  left: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #FFF;
  background-color: #0b3de1;
}

/*=========================================================
	03 -> Navigation
===========================================================*/

#navigation {
  background: #1E1F29;
  border-bottom: 2px solid #0b3de1;
  border-top: 1px solid #0b3de1;
  position: sticky;
  top: 0;
  z-index: 11 !important;
}

/*----------------------------*\
	Main nav
\*----------------------------*/


.navbar-nav>li{
  margin-left: 10px
}

.navbar-nav>li+li {
  float: left;
  margin-left: 10px
}

.navbar-nav>li>a {
  padding: 2px 0px;
  color: white;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li.active>a {
  color: #0064fa;
  background-color: transparent;
}

.navbar-nav>li>a:after {
  content: "";
  display: inline;
  width: 0%;
  height: 2px;
  background-color: #0b3de1;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.navbar-nav>li>a:hover:after, .navbar-nav>li>a:focus:after, .navbar-nav>li.active>a:after {
  width: 100%;
}

li {
	list-style-type: none;
}

/*=========================================================
	WISHLIST ELEMENT
===========================================================*/

.card img {
  background: #efefed;
  text-align: center;
}

.info i {
	 color: blue;
}

.info {
  border-top: 1px solid rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px, 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.action{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 10px;
}

.price h3 {
	font-size: 25px;
}

.col-12 {
	margin-bottom: 16px;
}

#nameP{
  color: white;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin: 0;
}

/*=========================================================
	FOOTER
===========================================================*/

#footer {
  background: #15161D;
  color: #B9BABC;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 30px;
}

.footer-links {
	padding-left: 0px;
}

.footer-links li+li {
  margin-top: 15px;
}

.footer-links li a {
  color: #B9BABC;
}

.footer-links li i {
  margin-right: 15px;
  color: #0b3de1;
  width: 14px;
  text-align: center;
}

.footer-links li a:hover {
  color: #0b3de1;
}

/*=========================================================
	RESPONSIVE
===========================================================*/

@media only screen and (max-width: 1400px) {
	.info{
		display: block;
	}
}

@media only screen and (max-width: 991px) {
   .header-logo {
    	float: none;
    	text-align: center;
  		}
  .header-logo .logo {
    display: inline-block;
  }
	.section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  .header-ctn > div + div {
  	margin-top: 0;
  }
  .header-ctn div {
  	margin-top: 0;
  }
  
    .header-ctn > div + div {
    padding-left: 1%;
  }
  .header-ctn div {
	padding-left: 1%;
  }
  
  .row.head{
  display: block!important
  }
	
   .col-md-3, .col-md-6 {
  margin: auto;
  width: 50%;
  padding: 10px;
   }
   
   .col-md-6 {
   width: 75%!important}
   
     #header {
  	padding-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
	  .section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  .header-ctn > div + div {
  	margin-top: 0;
  }
  .header-ctn div {
  	margin-top: 0;
  }
	.row.head{
  display: block!important
  }
	
   .col-md-3, .col-md-6 {
  margin: auto;
  width: 50%!important;
  padding: 10px;
   }
   
   .col-md-6 {
   width: 100%!important}
  
  #header {
  	padding-top: 0px;
  }
}


@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
}


#logo {
		padding-left: 20%;
}

@media screen and (max-width: 1200px) { 
	#logo {
		padding-left: 0%;
	}
}

.header-search select {
	width: 140px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.btnLog {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #0b3de1;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 30px 30px 30px 30px;
}
.btnLog:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btnLog:hover svg {
  stroke-dashoffset: -480;
}

.btnLog span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.profilePic{
	margin-right: 7px;
}

.btnAdmin {
  width: 160px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #0b3de1;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 30px 30px 30px 30px;
}

.btnAdmin:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btnAdmin:hover svg {
  stroke-dashoffset: -480;
}

.btnAdmin span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

