.btnLog {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #0b3de1;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 30px 30px 30px 30px;
}
.btnLog:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btnLog:hover svg {
  stroke-dashoffset: -480;
}

#textArea{
	resize: none;
}

.btnLog span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.refund-cell-accepted{
	text-align: center;
    vertical-align:middle;
    color: rgb(0,255,0);
    font-size: 20px;
}

.refund-cell-pending{
	text-align: center;
    vertical-align:middle;
    color: rgb(255, 255, 98);
     font-size: 20px;
}

.refund-cell-declined{
	text-align: center;
    vertical-align:middle;
    color: rgb(255, 0, 0);
	font-size: 20px;
}

#pageTitle{
	font-family: Cinzel Decorative;
	font-size: 40px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: black;
}

.info{
	color: white;
}

.product-type, .product-name, #prodId, .product-price, #qty{
	color: orange;
	font-size: 13px;
}

.date-cell{
	color: white;
	text-align: center;
    vertical-align: middle;
    font-size: 25px;
}


.thText{
	color: black;
}


.table{
    margin-top: 5%;
    text-align: center;
    font-size: large;
    padding: .0rem .0rem;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-bottom:20%!important;
}

.alert.alert-success{
	color: black;
    background-color: rgb(0, 120, 0);
    border-color: black;
}

.alert.alert-danger{
	color: black;
    background-color: rgb(176, 0, 0);
    border-color: black;
}

.alert.alert-warning{
	color: black;
    background-color: rgb(201, 201, 0);
    border-color: black;
}

.cell{
   text-align: center;
   vertical-align: middle;
}

#prova{
    margin-bottom: 5%;
}

.img-fluid{
  width: 200px;
  height: auto;
}


.product-img{
    width: 150px;
    height: auto;
    margin-left: auto;
}
  

/*=========================================================
	01 -> GENERAL
===========================================================*/


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0;
  background: linear-gradient(#8ab7ff,#5193fc);
}


h1, h2, h3, h4, h5, h6 {
  color: #2B2D42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2B2D42;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #0b3de1;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}


.input {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  width: 100%;
}
/*-- Select input --*/

.input-select {
  padding: 0px 15px;
  background: #FFF;
  border: 1px solid #E4E7ED;
  height: 40px;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}


/*----------------------------*\
	Top header
\*----------------------------*/

#top-header {
  background-color: #2c2d30;
  height: auto;
}

.header-links li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.header-links li a {
  color: #FFF;
}

.header-links li a:hover {
  color: #0b3de1;
}

.header-links li i {
  color: #0b3de1;
  margin-right: 5px;
}

/*----------------------------*\
	Logo
\*----------------------------*/
header{
  display: grid;
}
#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2c2d30;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
}

/*----------------------------*\
	Search
\*----------------------------*/

.header-search {
  padding: 15px 0px;
}

.header-search form {
  position: relative;
}

.header-search form .input-select {
  margin-right: -4px;
  border-radius: 40px 0px 0px 40px;
}

.header-search form .input {
  width: calc(100% - 240px);
  height: 40px;
  margin-right: -4px;
}

.header-search form .search-btn {
  position: absolute;
  height: 41px;
  width: 100px;
  background: #0b3de1;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
}

/*----------------------------*\
	Main nav
\*----------------------------*/

#navigation {
  background: #1E1F29;
  border-bottom: 2px solid #0b3de1;
  border-top: 1px solid #0b3de1;
  position: sticky;
  top: 0;
  z-index: 11 !important;
}

.navbar-nav>li{
  margin-left: 10px
}

.navbar-nav>li+li {
  float: left;
  margin-left: 10px
}

.navbar-nav>li>a {
  padding: 2px 0px;
  color: white;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li.active>a {
  color: #0064fa;
  background-color: transparent;
}

.navbar-nav>li>a:after {
  content: "";
  display: inline;
  width: 0%;
  height: 2px;
  background-color: #0b3de1;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.navbar-nav>li>a:hover:after, .navbar-nav>li>a:focus:after, .navbar-nav>li.active>a:after {
  width: 100%;
}

.header-ctn li.nav-toggle {
  display: inline;
}


.carousel-control-next-icon{
  color: #0b3de1;
}

.carousel-item{
  width: 50%;
  height: 50%;
}

.arrowButton{
  opacity:1;
  width: 20%;
}

.carousel-control-next{
  margin-right: 25%;
  margin-top: 17%;
}



.carousel-control-prev{
   margin-left: 25%;
   margin-top: 17%;
}

/*----------------------------*\
	responsive nav
\*----------------------------*/

@media only screen and (max-width: 991px) {
  .header-ctn .menu-toggle {
    display: inline-block;
  }
  #responsive-nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #15161D;
    height: 100vh;
    max-width: 250px;
    width: 0%;
    overflow: hidden;
    z-index: 22;
    padding-top: 60px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  #responsive-nav.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 100%;
  }
  .main-nav {
    margin: 0px;
    float: none;
  }
  .main-nav>li {
    display: block;
    float: none;
  }
  .main-nav>li+li {
    margin-left: 0px;
  }
  .main-nav>li>a {
    padding: 15px;
    color: #FFF;
  }
}



/*----------------------------*\
	Cart
\*----------------------------*/

#heart {
  color: white;
}

.header-ctn {
  display: flex;
  left: 90%;
  margin-left: 5%;
}

.header-ctn>div {
  display: flex;
  margin-top: 10%;
}

.header-ctn>div+div {
  margin-left: 2%;
  margin-top: 10%;
}

.header-ctn>div>a {
  display: flex;
  position: relative;
  text-align: center;
  color: #FFF;
}

.header-ctn>div>a>i {
  display: block;
  font-size: 25px;
}

.header-ctn>div>a>span {
  font-size: 12px;
}

.header-ctn>div>a>.qty {
  position: absolute;
  left: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #FFF;
  background-color: #0b3de1;
}

.header-ctn .menu-toggle {
  display: inline;
}

.header-ctn li.nav-toggle {
  display: inline;
}

.fa {
  color:white; 
  font-size: 28px
}


/*----------------------------*\
	responsive nav
\*----------------------------*/

@media only screen and (max-width: 991px) {
  .header-ctn .menu-toggle {
    display: inline-block;
  }
}

  
  /*=========================================================
	11 -> FOOTER
===========================================================*/

#footer {
  background: #15161D;
  color: #B9BABC;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 30px;
}

.footer-links li+li {
  margin-top: 15px;
}

.footer-links li a {
  color: #B9BABC;
}

.footer-links li i {
  margin-right: 15px;
  color: #0b3de1;
  width: 14px;
  text-align: center;
}

.footer-links li a:hover {
  color: #0b3de1;
}
  /*=========================================================
      13 -> RESPONSIVE
  ===========================================================*/
  
  @media only screen and (max-width: 1201px) {}
  
  @media only screen and (max-width: 991px) {
    #top-header .header-links.pull-left {
      float: none !important;
    }
    #top-header .header-links.pull-right {
      display: inline-block;
      float: none !important;
      margin-top: 5px;
    }
    .header-logo {
      float: none;
      text-align: center;
    }
    .header-logo .logo {
      display: inline-block;
    }
  }
  
  @media only screen and (max-width: 767px) {

    
    .product-info.p-3{
        margin-left: 35%;
        font-size: small;
    }
    .product-img{
        margin-right: 15%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    [class*='col-xs'] {
      width: 100%;
    }
  }

  #logo {
		padding-left: 20%;
}

@media screen and (max-width: 1200px) { 
	#logo {
		padding-left: 0%;
	}
}

.header-search select {
	width: 140px;
}

.profilePic{
	margin-right: 7px;
}

.btnAdmin {
  width: 160px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #0b3de1;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 30px 30px 30px 30px;
}

.btnAdmin:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btnAdmin:hover svg {
  stroke-dashoffset: -480;
}

.btnAdmin span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}