/* --- INDEX --- */

#navigation {
	position: sticky;
	top: 0;
	z-index: 1;
}

#linkSelezionaProdotto {
	text-align: right;
}

#serveAiuto div {
	/* important altrimenti il bootstrap me lo annulla */
	background-color: #0b3de1 !important;
}

.titolo {
	font-size: 1.8em;
	margin: auto;
}

.figure {
	margin: 0px;
	display: inline !important;
}

/* non fa uscire la scritta dai div */
body {
	overflow-wrap: break-word;
}

/* --- GUIDA PRODOTTO --- */

/* relative per metterci il div description del testo dentro
con absolute*/
#imageDescription {
	position: relative;
}

#imageDescription img {
	height: 50%;
	width: 100%;
}

#description {
	background-color: #0b3de1;
	color: white;
	right: 0;
	bottom: 0;
	border-radius: 3px 10px 20px;
	position: absolute;
	width: 35%;
	padding: 10px;
}


#rigaIndiceDomande, #rigaDomandeDescrizione {
	padding: 9px 27px;
	box-shadow: 5px 5px 5px 5px #888888;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-left: none;
	padding-right: none;
}

#pulsanteIndietro, #indiceDomandeCenter, #pulsanteInvia, #cercaProdottiMeglioRecensiti, #pulsanteCompraOra {
	color: #0b3de1;
	text-align: center;
}

#cercaProdottiMeglioRecensiti, #pulsanteCompraOra {
/*	transform: translate(-50%, -50%);
*/	position: relative;
	top: 50%;
	left: 50%;
}

#indiceDomandeDX {
	text-align: right;
}

#indiceDomandeSX {
	text-align: left;
}

#domande {
	padding: 30px;
	font-size: 20px;
}

#indietro {
	text-align: right;
}

#pulsanteAvanti, #pulsanteIndietro {
	width: 50%;
}

#pulsanteAvanti, #pulsanteIndietro, #pulsanteProblema, #pulsanteInvia {
	opacity: 1;
}

#pulsanteAvanti:hover, #pulsanteIndietro:hover, #pulsanteProblema:hover,
	#pulsanteInvia:hover {
	opacity: 0.9;
}

#pulsanteInvia {
	display: none;
}

#descrizione {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sticky {
  position: sticky;
  top: 50px;
  font-size: 20px;
  z-index: 0;
}

#pulsanteAvanti, #pulsanteProblema {
	background-color: #0b3de1;
	border-color: #0b3de1;
}

#rigaIndiceDomande .button, #rigaIndiceDomande .text {
	background-color: transparent;
	color: #0b3de1;
}

#segnalazione {
	margin: auto;
	width: 50%;
	text-align: center;
}

.testoCentrale {
	text-align: center;
}



/* --- JS --- */

.domanda {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding-top: 10px;
}

#rispostaJS {
	border: 1px solid #888888;
  	border-radius: 5px;
}

#descrizioneJS img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#descrizioneJS p, #altriProdotti p {
	text-align: center;
}

#descrizioneJS, #altriProdotti {
	padding: 10px;
  	margin-bottom: 10px;
}

#descrizioneJS {
	margin-top: 22%;
}

.row label {
	padding-top: 5%;
}

#prodotto {
	border: 1px solid #888888;
  	border-radius: 5px;
  	padding-bottom: 5px;
  	min-height: 300px;
}

#immagineProdotto {
	position:relative;
}

#immagineProdotto img {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#requisitoSoddisfatto {
	width: 15%;
}

#requisito p {
	line-height: 1.5;
  	display: inline-block;
  	vertical-align: middle;
}

.numDomande {
	background-color: white;
	color: #0b3de1;
	border-radius: 100%;
	border: none;
}

.informazione {
	background-color: white;
	border: none;
	border-radius: 100%;
	padding: 0px;
}

.informazione img {
	right: 0px;
	width: 50%;
}

/* --- CONDIVISA --- */
.button {
	background-color: white;
	border: none;
	border-radius: 2px;
	padding: 10px;
	opacity: 1;
}

.button:hover {
	opacity: 0.9;
}

figure img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#icona, #requisitoSoddisfatto {
	display: inline !important;
}

.prezzo a {
	text-decoration: none;
	color: #0b3de1;
	font-weight: bold;
}

.image {
	margin-bottom: 0px;
	padding: 0px;
}

@media screen and (max-width: 850px) {
	/* --- GUIDA PRODOTTO --- */
	#description {
		text-align: center;
		margin: auto;
		width: 100%;
		border-radius: 0px;
		position: static;
		padding: 0px;
	}
	#imageDescription {
		padding: none 15px;
	}

	/* --- INDEX --- */
	
	/* --- JS --- */
	
}




@media screen and (max-width: 580px) {
	/* --- INDEX --- */
	#serveAiuto, #linkSelezionaProdotto, #divSceltaProdotto {
		text-align: center;
		margin: auto;
		padding-left: 0px;
		padding-right: 0px;
	}

	/* --- GUIDA PRODOTTO --- */
	#pulsanteAvanti, #pulsanteIndietro {
		width: 100%;
	}
	#container {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	/* --- JS --- */
	

}