#pageTitle{
	font-size: 40px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: black;
}

input[type=text] {
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type=file] {
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type=number] {
    box-sizing: border-box;

    border-radius: 4px;
    }

input[type=text]:focus {
    background-color: lightblue;
  }


@media screen and (min-width: 1200px){

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border-radius: 4px;
  }


input[type=file] {
    width: 35%;
    box-sizing: border-box;
    border-radius: 4px;
  }

input[type=number] {
    width: 10%;
    box-sizing: border-box;
    border-radius: 4px;
    }

#productCategory{
        width: 30%;
    }
}

input[type=number]:focus {
    background-color: lightskyblue;
  }



#description:focus{
    background-color: lightblue;
}

#productCategory:focus{
    background-color: lightblue;
}


.mb-3{
    margin-left: 5%;
    margin-right: 5%;
}



.needs-validation{
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 25%;
    margin-left: 25%;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.btn.btn-primary{
    margin-bottom: 5%;
    margin-left: 43%;
    margin-top: 5%;
    border-radius: 4px;
}
  
#title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 2%;
}
   

   
   
   body {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     color: #333;
     margin: 0;
     background: linear-gradient(#8ab7ff,#5193fc);
     
   }
   
   ul, ol {
     margin: 0;
     padding: 0;
     list-style: none
   }
   
   /*=========================================================
       02 -> HEADER
   ===========================================================*/
   
    a {
    font-weight: 500;
	}
   
   
   #top-header {
     background-color: #2c2d30;
     height: auto;
   }
   
   .header-links li {
     display: inline-block;
     margin-right: 10px;
     margin-top: 10px;
     font-size: 12px;
   }
   
   .header-links li a {
     color: #FFF;
   }
   
   .header-links li a:hover {
     color: #0b3de1;
   }
   
   .header-links li i {
     color: #0b3de1;
     margin-right: 5px;
   }
   
   header{
     display: grid;
   }
   #header {
     padding-top: 15px;
     padding-bottom: 15px;
     background-color: #2c2d30;
   }
   
   .header-logo {
     float: left;
   }
   
   .header-logo .logo img {
     display: block;
   }
   
   .header-ctn {
     display: flex;
     left: 90%;
     margin-left: 5%;
   }
   
   .header-ctn>div {
     display: flex;
     margin-top: 10%;
   }
   
   .header-ctn>div+div {
     margin-left: 2%;
     margin-top: 10%;
   }
   
   .header-ctn>div>a {
     display: flex;
     position: relative;
     text-align: center;
     color: #FFF;
   }
   
   .header-ctn>div>a>i {
     display: block;
     font-size: 25px;
   }
   
   .header-ctn>div>a>span {
     font-size: 12px;
   }
   
   .header-ctn>div>a>.qty {
     position: absolute;
     left: 15px;
     top: -10px;
     width: 20px;
     height: 20px;
     line-height: 20px;
     text-align: center;
     border-radius: 50%;
     font-size: 10px;
     color: #FFF;
     background-color: #0b3de1;
   }
   
   .header-ctn .menu-toggle {
     display: inline;
   }
   
     
     /*=========================================================
       11 -> FOOTER
   ===========================================================*/
   
   .section {
    padding-top: 30px;
    padding-bottom: 30px;
}
   
   #footer {
     background: #15161D;
     color: #B9BABC;
   }
   
   
   .footer {
     margin: 30px 0px;
   }
   
   .footer .footer-title {
     color: #FFF;
     text-transform: uppercase;
     font-size: 18px;
     margin: 0px 0px 30px;
   }
   
   .footer-links { padding-left: 0px; }
   
   .footer-links li+li {
     margin-top: 15px;
   }
   
   .footer-links li a {
     color: #B9BABC;
   }
   
   .footer-links li i {
     margin-right: 15px;
     color: #0b3de1;
     width: 14px;
     text-align: center;
   }
   
   .footer-links li a:hover {
     color: #0b3de1;
   }

     /*=========================================================
         13 -> RESPONSIVE
     ===========================================================*/
     
 @media only screen and (max-width: 1201px) {}
  
  @media only screen and (max-width: 991px) {
    #top-header .header-links.pull-left {
      float: none !important;
    }
    #top-header .header-links.pull-right {
      display: inline-block;
      float: none !important;
      margin-top: 5px;
    }
    .header-logo {
      float: none;
      text-align: center;
    }
    .header-logo .logo {
      display: inline-block;
    }


  }
  
  @media only screen and (max-width: 767px) {
    .section-title .section-nav {
      float: none;
      margin-top: 10px;
    }
    .section-tab-nav li {
      margin-top: 10px;
    }

  }
  
  @media only screen and (max-width: 480px) {
    [class*='col-xs'] {
      width: 100%;
    }
  }

  #logo {
		padding-left: 20%;
}

@media screen and (max-width: 1200px) { 
	#logo {
		padding-left: 0%;
	}
	
}

@media screen and (max-width: 468px) { 
	.header-ctn {
		margin-left: 0px;
	}
}