#pageTitle{
	font-size: 40px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: center;
	color: black;
}



input[type=text] {
    box-sizing: border-box;
    border-radius: 4px;
  }

input[type=text]:focus {
    background-color: lightblue;
  }

.info{
	font-size: 17px!important;
	color: white;
}


#prodId, .product-type, .product-name, .product-price{
	font-size: 17px!important;
	color: orange;
}


input[type=number]:focus {
    background-color: lightskyblue;
}

.btn.btn-danger{
	margin-top: 55%;
	margin-left: 20%;
}

#btnHome{
	margin-left: 20%;
	margin-top: 15%;
}

.mb-3{
    margin-left: 5%;
    margin-right: 5%;
}

.product-info{
	text-align: center;
	font-weight: bold;
	margin-bottom: 3%;
}
  
#selectedProd{
	margin-top: 3%;
	font-size: 25px;
    font-weight: bold;
    color: white;
}

.col-md-2{
	text-align: center;
	margin-bottom: 35%;
    margin-right: 5%;
    margin-left: 25%;
	background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-weight: bold;
}


.needs-validation-form-search{
    margin-top: 2%;
    margin-bottom: 11%;
    margin-right: 25%;
    margin-left: 25%;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-weight: bold;
    color: white;
}


.needs-validation-form-modify{
	text-align: left;
	margin-bottom: 15%;
    margin-right: 14.6%;
    margin-left: 3%;
	background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

#btn-modify{
	margin-bottom: 5%;
	margin-left: 36%;
}

#productCategory{
	width: 40%;
}

input[type=file] {
    width: 70%;
    box-sizing: border-box;
    border-radius: 4px;
}

#btnSearch{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 4px;
}
  
#title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 2%;
}


.img-fluid{
	margin-top: 15%;
	margin-bottom: 15%;
}
   
   
   body {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     color: #333;
     margin: 0;
     background: linear-gradient(#8ab7ff,#5193fc);
     
   }
 
   
   ul, ol {
     margin: 0;
     padding: 0;
     list-style: none
   }
   
     
     /*----------------------------*\
         Buttons
     \*----------------------------*/
     
     .primary-btn {
       display: inline-block;
       padding: 12px 30px;
       background-color: #0b3de1;
       border: none;
       border-radius: 40px;
       color: #FFF;
       text-transform: uppercase;
       font-weight: 700;
       text-align: center;
       -webkit-transition: 0.2s all;
       transition: 0.2s all;
     }
     
     .primary-btn:hover, .primary-btn:focus {
       opacity: 0.9;
       color: #FFF;
     }
     
   
   /*=========================================================
       02 -> HEADER
   ===========================================================*/
   
   /*----------------------------*\
       Top header
   \*----------------------------*/
   
   #top-header {
     background-color: #2c2d30;
     height: auto;
   }
   
   .header-links li {
     display: inline-block;
     margin-right: 10px;
     margin-top: 10px;
     font-size: 12px;
   }
   
   .header-links li a {
     color: #FFF;
   }
   
   .header-links li a:hover {
     color: #0b3de1;
   }
   
   .header-links li i {
     color: #0b3de1;
     margin-right: 5px;
   }
   
   /*----------------------------*\
       Logo
   \*----------------------------*/
   header{
     display: grid;
   }
   #header {
     padding-top: 15px;
     padding-bottom: 15px;
     background-color: #2c2d30;
   }
   
   .header-logo {
     float: left;
   }
   
   .header-logo .logo img {
     display: block;
   }
   
   
   /*----------------------------*\
       Cart
   \*----------------------------*/
   

   .header-ctn {
     display: flex;
     left: 90%;
     margin-left: 5%;
   }
   
   .header-ctn>div {
     display: flex;
     margin-top: 10%;
   }
   
   .header-ctn>div+div {
     margin-left: 2%;
     margin-top: 10%;
   }
   
   .header-ctn>div>a {
     display: flex;
     position: relative;
     text-align: center;
     color: #FFF;
   }
   
   .header-ctn>div>a>i {
     display: block;
     font-size: 25px;
   }
   
   .header-ctn>div>a>span {
     font-size: 12px;
   }
   
   .header-ctn>div>a>.qty {
     position: absolute;
     left: 15px;
     top: -10px;
     width: 20px;
     height: 20px;
     line-height: 20px;
     text-align: center;
     border-radius: 50%;
     font-size: 10px;
     color: #FFF;
     background-color: #0b3de1;
   }
   
   .header-ctn .menu-toggle {
     display: inline;
   }
   
     /*=========================================================
       11 -> FOOTER
   ===========================================================*/
   
   #footer {
     background: #15161D;
     color: #B9BABC;
   }
   
   .footer {
     margin: 30px 0px;
   }
   
   .footer .footer-title {
     color: #FFF;
     text-transform: uppercase;
     font-size: 18px;
     margin: 0px 0px 30px;
   }
   
   .footer-links li+li {
     margin-top: 15px;
   }
   
   .footer-links li a {
     color: #B9BABC;
   }
   
   .footer-links li i {
     margin-right: 15px;
     color: #0b3de1;
     width: 14px;
     text-align: center;
   }
   
   .footer-links li a:hover {
     color: #0b3de1;
   }
 
     /*=========================================================
         13 -> RESPONSIVE
     ===========================================================*/
     
     
     @media only screen and (max-width: 991px) {
       #top-header .header-links.pull-left {
         float: none !important;
       }
       #top-header .header-links.pull-right {
         display: inline-block;
         float: none !important;
         margin-top: 5px;
       }
       .header-logo {
         float: none;
         text-align: center;
       }
       .header-logo .logo {
         display: inline-block;
       }
     }
     
     @media only screen and (max-width: 767px) {
       
       input[type=text] {
    		width: 40%!important;
    		box-sizing: border-box;
    		border-radius: 4px;
  		}
  		
  		#productCategory{
  			width: 40%!important;
  		}
       
       
       .col-md-2{
       		margin-bottom: 5%;
       		margin-right:0%;
       		margin-left:0%;
       }
   
   	   .needs-validation-form-modify{
   	   		margin-bottom: 5%;
       		margin-right:7%;
       		margin-left:10%;
   	   }
   
       #firstElement{
         padding-left: 10%!important;
       }
     }
     
     @media only screen and (max-width: 480px) {
       [class*='col-xs'] {
         width: 100%;
       }
     }
   
     #logo {
           padding-left: 20%;
   }
   
   @media screen and (max-width: 1200px) { 
       #logo {
           padding-left: 0%;
       }
       
       input[type=text] {
    		width: 50%;
    		box-sizing: border-box;
    		border-radius: 4px;
  		}
  		
  		#productCategory{
  			width: 80%;
  		}
   }
   
   @media screen and (min-width: 1200px){
	
	input[type=text] {
    	width: 30%;
    	box-sizing: border-box;
    	border-radius: 4px;
  		}
	}
   