#requisitiTh {
	width: 40%;
}

#descrizioneTh {
	width: 35%;
}

#titoloTh, #attivoTh {
	width: 5%;
}

form textarea {
	margin-bottom: 10px;
}

table textarea {
	width: 100%;
	height: 220px;
}

table img {
	width: 80%;
}

#lavoroCheckBox {
	display:none;
}

.row > div > textarea {
	width: 100%;
}

.col-md-1 {
	text-align: center;
}

#btnInvia {
	width: 15% !important;
	margin-right: auto;
	margin-left: auto;
}

#btnInserisci, #btnInvia {
	background-color: #0b3de1;
	border-color: #0b3de1;
	opacity: 1;
}

#btnInvia {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

#btnInserisci:hover, #btnInvia:hover {
	opacity: 0.9;
}


#divForm textarea, #divForm input {
	width: 100%;
	overflow: hidden;
}

#divForm {
	display: none;
}

#testoAttivo {
	margin-bottom: 0px;
}

#requisitiSpeciali {
	text-align: center;
}

.row .col-md-4 {
	margin-bottom: 10px;
}

/* REQUISITO ETA */

#requisitiSpeciali .row .col-md-12 {
	padding-bottom: 20px;
}

/* REQUISITO ETA */

/* REQUISITI TITOLO STUDIO */
.piuMeno img {
	width: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto 
}

.piuMeno {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}

#requisitoTitoloStudio .row .col-2 {
	position: relative;
}

/* FINE REQUISITI TITOLO STUDIO */

/* le select si allungano troppo */
.studio {
	max-width: 100%;
}

body .formattaTesto {
	overflow-wrap: anywhere;
	/* spezza ogni linea con enter*/
/*	white-space: pre;*/
}
